.contacts-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
  }
  .span-link {
    color: rgb(150, 211, 150);
    text-shadow: 2px 1px 3px black;
  }
}
.contacts-table {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(250, 245, 236);
  // border: 1px solid grey;

  margin-top: 2rem;
}
.table-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid grey;
}
.div-num-vertical {
  display: none;
  width: 4rem;
}
.contact-row,
.contact-first-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid grey;
  div {
    width: 30%;
    min-width: 120px;
    // border-right: 1px solid grey;
    // border-bottom: 1px solid grey;
    height: auto;
  }
  .span-cell,
  .span-cell-textarea {
    margin-right: 0.3rem;
    font-weight: bold;

    display: none;
  }
  input,
  textarea {
    width: 90%;
    background: none;
    border: none;
    color: black;
    height: auto;
    text-align: center;
    font-size: 0.8rem;
  }
  textarea {
    p {
      font-size: 0.8rem;
    }
  }
  .input-updatemode {
    border: 1px solid rgba(0, 0, 0, 0.268);
    background: white;
    border-radius: 0.3rem;
  }
  button {
    width: 4rem;
    margin: 0.1rem 0.2rem;
  }
}
.contact-first-row {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .contact-row {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border-left: 1px solid black;
    .div-num {
      display: none;
    }
    div {
      border: none;
      padding-left: 0.5rem;
      width: 100%;
    }
    .span-cell {
      display: inline-block;
    }
    .span-cell-textarea {
      display: block;
    }
    input,
    textarea {
      text-align: left;
      width: auto;
    }
  }
  .contact-first-row {
    display: none;
  }
  .div-num-vertical {
    display: block;
  }
}
