.createPage {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: url("../assets/images/Scene-24.jpg") no-repeat center center/cover;
  flex-direction: column;
  #title,
  #shortDesc,
  #subtitle {
    border: none;
    padding-left: 0.4rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    width: 30rem;
    max-width: 100%;
    height: 2rem;
    box-sizing: border-box;
  }

  #title::placeholder {
    color: rgb(144, 143, 143);
  }
  h1 {
    margin-top: 2rem;
  }
}

.create-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.form-create-landing {
  margin: 2rem 1rem 2rem 1rem;
  width: 50rem;
  max-width: 100%;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(245, 245, 245, 0.77);
  padding: 1rem;

  h1 {
    margin: 0.5rem 0rem;
  }
  form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    button {
      align-self: center;
      color: white;
      background: rgb(87, 182, 63);

      border: none;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

      border-radius: 0.7rem;
      margin-top: 1rem;
      cursor: pointer;
      font-size: 1rem;
      padding: 0.5rem 1.2rem;
      font-size: 1rem;
      transition: 0.3s ease-in-out;
      &:hover {
        background: rgb(81, 124, 70);
      }
    }
    .radio-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .template-link {
        text-decoration: none;
        color: rgb(27, 27, 138);
        &:hover {
          color: rgb(117, 117, 166);
        }
      }
    }
    .spinnerCreate {
      align-self: center;
    }
  }
}

// table.mceLayout, textarea.tinyMCE {
//   width: 100% !important;
// }

// /* on large screens, I use a different layout, so 600px are sufficient */
// @media only screen and (min-width: 600px) {
//   table.mceLayout, textarea.richEditor {
//      width: 600px !important;
//   }
// }
@media (max-width: 400px) {
  .tox-tinymce {
    width: 340px;
  }
}
@media (max-width: 500px) {
  .createPage {
    #title,
    #shortDesc,
    #subtitle {
      width: 20rem;
    }
  }
}
