.createPage {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: url("../assets/images/Scene-24.jpg") no-repeat center center/cover;
  flex-direction: column;
  #title {
    border: none;
    padding-left: 0.4rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    width: 30rem;
    max-width: 100%;
    height: 2rem;
    box-sizing: border-box;
  }

  #title::placeholder {
    color: rgb(144, 143, 143);
  }
  h1 {
    margin-top: 2rem;
  }
}
.form-create-landing {
  margin: 2rem 1rem 2rem 1rem;
  width: 50rem;
  max-width: 100%;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(245, 245, 245, 0.493);
  padding: 1rem;

  h1 {
    margin: 0.5rem 0rem;
  }
  form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }
}
