$height: 600px;

.landing-preview {
  width: 400px;
  height: $height;
  background: rgba(245, 245, 245, 0.77);
  align-self: flex-start;
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 3rem;
}

.preview-top {
  width: 100%;
  height: $height * 0.3;
  margin-top: 1rem;
  background: no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preview-top-product {
  width: 100%;
  height: $height * 0.15;
  margin-top: 1rem;
  background: no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preview-middle {
  width: 100%;
  height: $height * 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  .preview-middle-inner {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
      font-size: 0.8rem;
      margin: 0;
    }
    h2 {
      font-size: 0.6rem;
    }
    p {
      font-size: 0.4rem;
    }
  }
}

.preview-bottom {
  width: 100%;
  height: $height * 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  .preview-contact-form {
    width: 25%;
    height: $height * 0.17;
    background: rgba(255, 255, 255, 0.478);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: grey;
  }
}

//preview job:

.preview-top-job {
  width: 100%;
  height: $height * 0.1;
  margin-top: 1rem;
  background: no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.job-preview-middle {
  width: 100%;
  height: $height * 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  .job-preview-middle-inner {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .jobDescDiv {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: $height * 0.17;
      h1 {
        font-size: 0.8rem;
        margin: 0;
      }
      h2 {
        font-size: 0.6rem;
      }
      p {
        font-size: 0.4rem;
      }
    }
    .preview-contact-form {
      width: 25%;
      height: $height * 0.17;
      background: rgba(255, 255, 255, 0.478);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: grey;
    }
  }
}
.job-preview-bottom {
  width: 100%;
  height: $height * 0.08;
  display: flex;
  justify-content: center;
  align-items: center;
}
