.Header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  min-height: 6rem;
}

.navbar-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0rem 2rem;
}

.navbar-left {
  display: flex;
  margin-left: 2rem;
  flex-wrap: wrap;
}

.navbar-right {
  display: flex;
  margin-right: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.navbar-link {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  font-weight: bold;
}
.navbar-link a {
  text-decoration: none;
  text-shadow: 2px 2px 3px black;
  color: rgb(207, 255, 211);
  border: 1px solid transparent;
  padding-bottom: 0.4rem;
}
.navbar-link a:hover {
  color: white;
  border-bottom: 1px solid rgb(207, 255, 211);
}
.navbar-link a.active {
  border-bottom: 1px solid rgb(207, 255, 211);
}

.homepage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-homepage {
  margin-top: 6rem;
  color: rgb(16, 74, 47);
  text-shadow: 2px 1px 4px white;
  height: 50vh;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
}
.main-homepage h1 {
  color: white;
  text-shadow: 2px 2px 3px black;
  margin-bottom: 1rem;
}
.main-homepage .link {
  text-decoration: none;
  color: rgb(207, 255, 211);
  margin: 0rem 1rem;
}
.main-homepage button {
  color: white;
  background: rgb(87, 182, 63);
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0.7rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
  font-size: 1.3rem;
  transition: 0.3s ease-in-out;
}
.main-homepage button:hover {
  background: rgb(81, 124, 70);
}

.login-register-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5rem 0;
  margin-top: 8rem;
  background: rgba(165, 192, 192, 0.192);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 1.5rem;
}
.form-container form {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container form input {
  border: none;
  padding-left: 0.4rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  width: 14rem;
  height: 2rem;
  box-sizing: border-box;
}
.form-container input::-moz-placeholder {
  color: rgb(144, 143, 143);
}
.form-container input:-ms-input-placeholder {
  color: rgb(144, 143, 143);
}
.form-container input::placeholder {
  color: rgb(144, 143, 143);
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5rem 0;
  background: rgba(165, 192, 192, 0.192);
  border-radius: 1.5rem;
}
.signup-container h1 {
  color: white;
}
.signup-container a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  align-self: flex-start;
  margin: 0.2rem 1rem;
  cursor: pointer;
}

.login-container > h1 {
  color: white;
  margin: 0;
}

.login-btn {
  color: rgb(223, 246, 255);
  background: rgb(35, 169, 64);
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 14rem;
}

.login-btn:hover {
  background: rgb(90, 90, 123);
  color: white;
}

.sign-up-link {
  margin: 0.3rem 0 0 0;
}

.sign-up-link a {
  text-decoration: none;
  color: rgb(90, 90, 123);
  font-weight: bold;
}

.sign-up-link a:hover {
  color: white;
}

.login-container hr,
.signup-container hr {
  width: 15rem;
  margin-bottom: 2rem;
}

.createPage {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.createPage #title,
.createPage #shortDesc,
.createPage #subtitle {
  border: none;
  padding-left: 0.4rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  width: 30rem;
  max-width: 100%;
  height: 2rem;
  box-sizing: border-box;
}
.createPage #title::-moz-placeholder {
  color: rgb(144, 143, 143);
}
.createPage #title:-ms-input-placeholder {
  color: rgb(144, 143, 143);
}
.createPage #title::placeholder {
  color: rgb(144, 143, 143);
}
.createPage h1 {
  margin-top: 2rem;
}

.create-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-create-landing {
  margin: 2rem 1rem 2rem 1rem;
  width: 50rem;
  max-width: 100%;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(245, 245, 245, 0.77);
  padding: 1rem;
}
.form-create-landing h1 {
  margin: 0.5rem 0rem;
}
.form-create-landing form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.form-create-landing form button {
  align-self: center;
  color: white;
  background: rgb(87, 182, 63);
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0.7rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}
.form-create-landing form button:hover {
  background: rgb(81, 124, 70);
}
.form-create-landing form .radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.MyPages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.MyPages h1 {
  margin-bottom: 3rem;
}

.allPages-container {
  width: 90%;
  min-height: 15rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.allPages-container a {
  text-decoration: none;
}

.pageDiv-container {
  width: 300px;
  height: 150px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}
.pageDiv-container h3 {
  color: rgb(16, 74, 47);
  text-decoration: none;
  text-shadow: 2px 1px 4px white;
}
.pageDiv-container p {
  color: black;
  text-shadow: 2px 1px 4px white;
}
.pageDiv-container .link-enter,
.pageDiv-container .link-contacts {
  font-size: 1.3rem;
  color: rgb(3, 176, 3);
}
.pageDiv-container .link-enter:hover,
.pageDiv-container .link-contacts:hover {
  color: grey;
}

.landingPage-container {
  width: 100%;
  height: auto;
}

.section-top {
  width: 100%;
  height: 50vh;
  background: no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-top h1 {
  font-size: 3rem;
  font-family: "Cinzel", serif;
}

.section-middle {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-bottom {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contacts {
  background: rgba(255, 255, 255, 0.449);
  padding: 1.5rem;
  border-radius: 1rem;
}
.form-contacts h1 {
  margin: 1rem;
  text-shadow: 2px 1px 4px white;
}
.form-contacts form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.form-contacts form input {
  border: none;
  padding-left: 0.4rem;
  margin: 0.2rem 0rem 0.7rem 0rem;
  border-radius: 0.5rem;
  width: 20rem;
  max-width: 100%;
  height: 2rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-contacts form label {
  margin-left: 0.3rem;
  text-shadow: 2px 1px 4px white;
}

.contacts-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contacts-container h1 {
  margin-bottom: 1rem;
}
.contacts-container a {
  text-decoration: none;
}
.contacts-container span {
  color: rgb(150, 211, 150);
  text-shadow: 2px 1px 3px black;
}

.contacts-table {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(250, 245, 236);
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  margin-top: 2rem;
}

.contact-row,
.contact-first-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.contact-row div,
.contact-first-row div {
  width: 30%;
  min-width: 120px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.contact-first-row {
  font-weight: bold;
}

.demoPage-container {
  width: 100%;
  height: auto;
}

.EventPageDemo-top {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/weddingdemo1.jpeg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.EventPageDemo-top h1 {
  font-size: 3rem;
  padding: 0.5rem;
  background: rgba(255, 249, 249, 0.484);
  width: 100%;
  font-family: "Cinzel", serif;
  color: rgb(123, 76, 76);
}
.EventPageDemo-top h2 {
  background: rgba(255, 249, 249, 0.484);
  width: 100%;
  padding: 0.5rem;
}

.EventPageDemo-middle {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}
.EventPageDemo-middle .EventPageDemo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.EventPageDemo-middle .EventPageDemo-content h1 {
  font-size: 2rem;
  color: rgb(180, 100, 100);
}
.EventPageDemo-middle .EventPageDemo-content h2 {
  color: rgb(102, 52, 48);
}
.EventPageDemo-middle .EventPageDemo-content h3 {
  color: rgb(131, 32, 50);
}

.EventPageDemo-bottom {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.demoform-contacts {
  padding: 1rem;
  border-radius: 1rem;
}
.demoform-contacts h1 {
  margin: 1rem;
  text-shadow: 2px 1px 4px white;
}
.demoform-contacts form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.demoform-contacts form input {
  border: none;
  padding-left: 0.4rem;
  margin: 0.2rem 0rem 0.7rem 0rem;
  border-radius: 0.5rem;
  width: 20rem;
  max-width: 100%;
  height: 2rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.demoform-contacts form label {
  margin-left: 0.3rem;
  text-shadow: 2px 1px 4px white;
}
.demoform-contacts form #note {
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
}
.demoform-contacts form button {
  align-self: center;
  margin: 0.5rem 0rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  border: 1px grey solid;
}

.JobPageDemo-top {
  width: 100%;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.JobPageDemo-top .jobOffer-h1 {
  font-size: 3rem;
  padding: 0.5rem;
  font-family: "Cinzel", serif;
  color: white;
}

.jobPageDemo-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 75vh;
}

.jobPageDemo-middle-inner {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0rem;
}
.jobPageDemo-middle-inner .jobPageDemo-content {
  padding: 0.5rem;
  width: 32rem;
  height: 28rem;
  overflow-y: auto;
  text-align: left;
}

.jobPageDemo-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 10vh;
}

.productPageDemo-top {
  width: 100%;
  height: 40vh;
  background: url("../assets/images/coffeeproduct.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productPageDemo-top h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  background: rgba(229, 229, 229, 0.584);
  width: 100%;
  font-family: "Cinzel", serif;
  color: rgb(81, 51, 51);
}
.productPageDemo-top h2 {
  background: rgba(229, 229, 229, 0.584);
  width: 100%;
  padding: 0.5rem;
}

.productPageDemo-middle {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}
.productPageDemo-middle .productPageDemo-middle-inner {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.productPageDemo-middle .productPageDemo-content {
  width: 35rem;
}

.landing-preview {
  width: 400px;
  height: 600px;
  background: rgba(245, 245, 245, 0.77);
  align-self: flex-start;
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 3rem;
}

.preview-top {
  width: 100%;
  height: 180px;
  margin-top: 1rem;
  background: no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview-top-product {
  width: 100%;
  height: 90px;
  margin-top: 1rem;
  background: no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview-middle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-middle .preview-middle-inner {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.preview-middle .preview-middle-inner h1 {
  font-size: 0.8rem;
  margin: 0;
}
.preview-middle .preview-middle-inner h2 {
  font-size: 0.6rem;
}

.preview-bottom {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-bottom .preview-contact-form {
  width: 25%;
  height: 102px;
  background: rgba(255, 255, 255, 0.478);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: grey;
}

.preview-top-job {
  width: 100%;
  height: 60px;
  margin-top: 1rem;
  background: no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.job-preview-middle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.job-preview-middle .job-preview-middle-inner {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.job-preview-middle .job-preview-middle-inner .jobDescDiv {
  width: 30%;
  height: 102px;
}
.job-preview-middle .job-preview-middle-inner .preview-contact-form {
  width: 25%;
  height: 102px;
  background: rgba(255, 255, 255, 0.478);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: grey;
}

.job-preview-bottom {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  background: fixed;
  flex-direction: column;
  font-family: "Merriweather Sans", sans-serif;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* margin-top: 8rem; */
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/images/Scene-24.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.spinner img {
  width: 60px;
}/*# sourceMappingURL=App.css.map */