@import "./header";
@import "./variables";
@import "./homepage";
@import "./loginRegisterStyle";
@import "./create";

.App {
  text-align: center;
  display: flex;
  align-items: center;

  background: fixed;
  flex-direction: column;

  font-family: "Merriweather Sans", sans-serif;
  // background-attachment: fixed;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* margin-top: 8rem; */
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background: url("../assets/images/Scene-24.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
