@import "./header";
@import "./variables";
@import "./homepage";
@import "./loginRegisterStyle";
@import "./create";
@import "./myPages";
@import "./pageDiv";
@import "./_landingPage";
@import "./contactsPage";
@import "./demoPages";

.App {
  text-align: center;
  display: flex;
  align-items: center;

  background: fixed;
  flex-direction: column;

  font-family: "Merriweather Sans", sans-serif;

  // background-attachment: fixed;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* margin-top: 8rem; */
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background: url("../assets/images/Scene-24.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

// .spinner {
//   width: 100%;
//   min-height: 100%;
//   z-index: 2;
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: rgba(53, 103, 103, 0.559);
// }
.spinner img {
  width: 60px;
}
